body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 900px;
  margin: 0 auto;
  padding: 2rem;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

table {
  border-collapse: collapse;
  font-size: 0.9em;
  min-width: 400px;
}

thead tr {
  background-color: black;
  color: #ffffff;
  text-align: left;
}

th, td {
  padding: 12px 15px;
}

tbody tr {
  border: 1px solid #dddddd;
}

tbody tr.muted {
  background-color: #f3f3f3;
}

tbody tr.book {
  background-color: #f3f3f3;
  font-style: italic;
}
